body {
	font-family: "Open Sans", sans-serif;
}

.big-heading {
	font-weight: 600;
	font-size: clamp(30px, 8vw, 60px);
	color: #45505b;
}

.sub-heading-1 {
	font-size: clamp(24px, 8vw, 50px);
	color: #45505b;
}

.sub-heading-2 {
	font-size: clamp(24px, 8vw, 50px);
	color: #0563bb;
}

.paragraph {
	color: #272829;
	font-size: 18px;
	line-height: 1.8;
}

.circle-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f2f3f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Desktops and laptops */
@media (min-width: 1024px) {
	#hero,
	#about {
		height: 100vh;
		display: flex;
		align-items: center;
	}
}

/* Tablets and smaller laptops */
@media (min-width: 768px) and (max-width: 1023px) {
	/* #hero {
		margin-left: 60px;
	}
	#portfolios {
		margin-left: 60px;
	} */
}

/* Mobile phones and small tablets */
@media (max-width: 767px) {
}
