.circle-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f2f3f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero {
	height: 100vh;
	display: flex;
	align-items: center;
}

/* Desktops and laptops */
@media (min-width: 1024px) {
	/* #hero {
		margin-left: 80px;
	}
	#portfolios {
		margin-left: 80px;
	} */
}

/* Tablets and smaller laptops */
@media (min-width: 768px) and (max-width: 1023px) {
	/* #hero {
		margin-left: 60px;
	}
	#portfolios {
		margin-left: 60px;
	} */
}

/* Mobile phones and small tablets */
@media (max-width: 767px) {
}
